/* stylelint-ignore */
.chat {
  width: 100%;
  background-color: rgba(79, 102, 139, 0.85);
  max-width: 350px;
  box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.35);
  overflow-y: scroll;
  max-height: 541px;
  transition: all 0.2s ease-in-out;
  .hideChat {
    display: none;
    position: absolute;
    margin-top: 10px;
    &:active img {
      opacity: 1;
    }
    img {
      width: 20px;
      opacity: 0.3;
    }
  }
  .message {
    color: white;
    padding: 5px 10px;
    display: none;
    transition: all 0.2s ease-in-out;
    .user {
      color: #38bfca;
      text-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
      font-size: 0.8em;
    }
    .text {
      color: white;
      font-size: 0.7em;
    }
  }
}
.chat::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px transparent;
  border-radius: 10px;
  background-color: rgba(79, 102, 139, 0.85);
}
.chat::-webkit-scrollbar {
  width: 8px;
  background-color: rgba(79, 102, 139, 0.85);
}
.chat::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px transparent;
  background-color: #0fa5a5;
}
@media screen and (max-width: 940px) {
  .chat {
    max-width: 100%;
    .hideChat {
      display: block;
    }
  }
}
