/* stylelint-ignore */
.videoPage {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  .videoContain {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    transition: all 0.2s ease-in-out;
  }
  .chatContain {
    margin-left: 1%;
    width: 24%;
    display: flex;
    flex-direction: column;
    transition: all 0.2s ease-in-out;
    .chatTitle {
      width: 100%;
      height: 35px;
      background-color: #566e95;
      color: white;
      font-size: 0.75em;
      line-height: 35px;
      padding-left: 10px;
      letter-spacing: 2px;
      border-bottom: 3px solid #0fa5a5;
      overflow: hidden;
      text-overflow: ellipsis;
    }

  }
}
@media screen and (max-width: 940px) {
  .videoPage {
    display: block;
    .videoContain {
      display: block ;
      width: 100% ;
    }
    .chatContain {
      width: 100%;
      margin-left: auto;
      .chatTitle{
        display: none;
      }
    }
  }
}
