.item {
  height: 100%;
  display: inline-block;
  align-items: center;
  position: relative;
  padding: 50px;
}
.item+ .item {
  border-top: 1px solid #EEE;
}
.itemContent {
  display: inline-block;
  height: 100%;
  align-items: center;
}
