/* stylelint-ignore */
.search {
  margin-left: 10px;
  margin-bottom: 45px;
  img {
    width: 20px;
    display: inline-block;
    margin-right: 10px;
  }
  input {
    background-color: rgba(66, 79, 99, 0.3);
    font-family: 'Montserrat', sans-serif;
    width: 300px;
    color: white;
    height: 30px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    padding: 0 5px;
    font-size: 0.8em;
    letter-spacing: 1px;
    &:focus {
      outline: none;
      outline: 2px solid rgb(15, 164, 164);
    }
  }
}
@media screen and (max-width: 480px) {
  .search {
    margin-bottom: 25px;
    img{
      display: none;
    }
    input {
      width: 100%;

    }
  }
}
